 /*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:    Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */

   a:link {
    color: white;
}
/* visited link */
a:visited {
    color: #e3e3e3;
}
/* mouse over link */
a:hover {
    color:green;
}
/* selected link */
a:active {
    color:red;
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.well .page-header {
   margin-top: 0;
}

.well .page-header h1 {
   margin-top: 0;
}

ul.unstyled {
   list-style: none;
   padding: 0;
}


/* --------------------------------------
   Header & Navbar
   -------------------------------------- */
 

 header a.navbar-brand{
   font-family: 'Tangerine', serif;
   font-size: 30px;
   text-shadow: 5px 5px 5px green;
   padding-top: 5px;
 }

header img{
   margin-top:5px;

   width:35px;
   height: 35px;
}
.navbar-brand>img {
    display: -webkit-inline-box;
}

header a.navbar-brand.pull-left {
    font-family: 'Tangerine', serif;
    font-size: 30px;
    text-shadow: 5px 5px 5px green;
    padding-top: 5px;
    margin-bottom: 20px;}

.navbar-brand {
   padding: 13px 15px;
}
#navBarSearchForm{
   width: 70px;
}

/* End of styling for header and navbar*/

/* --------------------------------------
   Carousel
   -------------------------------------- */

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   color:white;
   font-size: 32px;
}

.carousel-caption p{
   color:#e3e3e3;
   font-size: 20px;
}

#myCarousel .item { height: 400px; }

/*end of styling for carousel*/

#register{
   margin-top: 15px
}

/*Styling for more features*/

#featuresHeading{
   font-size: 35px;
   color: black;
   background-color: #c5d5cb;
   width: 100%;
   padding-left: 10px;
   margin-left: 0px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#featuresHeading {
   line-height: 2px:
   margin-bottom:10px; 
}

h2.yourBrand, h2.mission{
   margin-bottom: 20px;
   background-color: #469a46;
   color:#e3e3e3;
   margin-right: 15px;
   margin-left: 15px;   
}
  

.feature ul li{
   font-size: 20px;
}

.feature p{
   font-size: 20px;
   text-align: justify;
}


#features .feature{
   margin-bottom:20px;
}

/*end of styling for more features*/

 
#featuresHeading h2.new{
   text-align: center;
   background-color: #c5d5cb;
   color:black;
   width:100%;
   height: 50px;
   padding-top: 5px;
}

#newfeatures img{
   width:75px;
   height:75px;
   margin:0 auto;
}

#newfeatures .panel{
   height: 200px;
}

#newfeatures .panel a.btn-block{
   padding-bottom: 10px;
}

#newfeatures h5.websiteFeature, h5.shippingapps{
   padding-bottom:2px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* -------styling for footer------ */
footer{
   width:100%;
   background-color: black;
   color:white;
   padding-left: 10px;
   margin-top:10px;
}

footer p{
   text-align: justify;
}

footer li{
   list-style: none;
}
footer li a{
   padding-right: 10px;
}

footer .socialnetwork{
   margin-bottom: 10px;
}
footer .messageUs a{
   padding-left: 0px;
}

footer .modal-dialog .modal-content{
   background-color: white;
   color:black;
}
/*end of styling for footer*/


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */

@media (max-width: 480px) {

   
.carousel-caption h2 {
   color:black;
   font-size: 50px;
   padding-bottom: 150px;
}
   
   .thumbnail .price {
      font-size: 14px;
   }
   
   .thumbnail .price sup {
      font-size: 10px;
   }

   .carousel-caption h4 {
   color:#E74C3C;
   padding-top: 5px;
   font-size: 15px;
}
.carousel-caption p{
   color:#6799a3;
   font-size: 10px;
   font-style: bold;
}

#slide1 {
      background: url('../../images/slide1_480.png') top center no-repeat;
   }
   
   #slide2 {
      background: url('../../images/slide2_480.jpg') top center no-repeat;
   }
   
   #slide3 {
      background: url('../../images/slide3_480.jpg') top center no-repeat;
   }

   img #yourBrand{
      background: url('../../images/yourBrand_480.png') top center no-repeat;
   }
   
   img #missionControl{
      background: url('../../images/missionControl_480.png') top center no-repeat;
   }
}

/* Landscape phone to portrait tablet */

@media (max-width: 768px) {
   
   #myCarousel .item { height: 310px; }
   
   #slide1 {
      background: url('../../images/slide1_768.png') top center no-repeat;
   }
   
   #slide2 {
      background: url('../../images/slide2_768.jpg') top center no-repeat;
   }
   
   #slide3 {
      background: url('../../images/slide3_768.jpg') top center no-repeat;
   }
   
  
   .carousel-caption {
      font-size: 16px;
   }
   
   .carousel-caption h4 {
      font-size: 22px;
   }
   
}

/* Large desktop */
@media (min-width: 770px) {

   #myCarousel .item { height: 500px; }
   
   #slide1 {
      background: url('../../images/slide1_1200.jpg') top center no-repeat;
   }
   
   #slide2 {
      background: url('../../images/slide2_1200.jpg') top center no-repeat;
   }
   
   #slide3 {
      background: url('../../images/slide3_1200.jpg') top center no-repeat;
   }
}


